:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.page {
  display: grid;
  grid-template-rows: 0.25fr 3fr 0.25fr;
  min-height: 100vh;
  justify-items: center;
}

.navigation {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10vw;
}

.middleContent {
  text-align: center;
  padding: 2vh;
}

.footer {
  display: grid;
  align-items: center;
}

.restaurantimg {
  height: 40vh;
  width: 40vw;
}
